# R cruft
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore

# Quarto cruft
/.quarto/
**/*.quarto_ipynb
_freeze/
_site/

# macOS cruft
.DS_Store

# Build README
README.html

# Deprecated dataset
Supplementary_Table_S1_clean_raw_data.*